* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

body {
    background-image: url(outerspace-6.gif);
    background-repeat: no-repeat;
    background-size: 117%;
    font: normal 15pt Arial;
}


.botao-navbar {
    color: rgb(252, 251, 251);
    margin-top: 24px;
    text-decoration: none;
    float: right;
    font-family: bankgotic;
    font-size: 20px;
    margin-left: 30px;
    margin-right: 30px;
    font-weight: 590;


}

#traco {
    color: rgb(255, 255, 255);
    float: right;
    margin-top: 22px;
}

b {
    margin-left: 35px;
    margin-right: 35px;
}

#cabecalho {
    width: 70px;
    height: 70px;
    float: left;
    margin-top: 0px;
    margin-left: 30px;

}

#navbar {
    width: 600px;
    background-color: rgba(114, 66, 121, 0);
    margin: 0px;
    width: auto;
    height: 70px;
    align-items: center;

}



header {
    color: rgba(255, 245, 245, 0.863);
    text-align: center;
}




#imagem-spacex {
    align-items: center;
    margin-left: 160px;
    width: 800px;
    margin-top: 70px;
    margin-bottom: 70px;
}


section {
    padding: 15px;
    margin: 0px;
    text-align: center;
    color: rgba(255, 255, 255, 0.87);
    font-family: bankgotic;

}


footer {
    color: rgba(255, 255, 255, 0.733);
    text-align: center;
    font-style: italic;
    bottom: 0;
    position: fixed;
    width: 100%;
    background-color: rgba(100, 99, 99, 0);
    font-size: 14px;
}

#easteregg {
    background-color: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0);

}

#easter {
    margin-top: 200px;
    margin-right: 2000px;
}