button{
    display: block;
    margin-right: auto;
    margin-left: auto;
    border-radius: 12px;
    width: 230px;
    height:60px;  
    background-color: rgb(26, 25, 25);
    color: rgb(235, 225, 225);
    font-family: bankgotic;
    font-size: 23px;
    cursor: pointer;
    margin-bottom: 40px;
    transition: transform 200ms ease-in-out; 

}
button:hover{
    transform: scale(1.06);

}
